<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hydro</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/Content/images/hydro.jpg" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

    <!-- Bootstrap css -->
    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    <link href="~/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- ~/Content/libraries CSS Files -->
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/lib/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/Content/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/lib/modal-video/css/modal-video.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/nprogress.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/IntroducingStyle.css">



    @RenderSection("head", required: false)
</head>
<body>
    
    @RenderBody()
    <script src="~/Content/lib/jquery/jquery.min.js"></script>
    <script src="~/Content/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/Content/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/lib/superfish/hoverIntent.js"></script>
    <script src="~/Content/lib/superfish/superfish.min.js"></script>
    <script src="~/Content/lib/easing/easing.min.js"></script>
    @*<script src="~/Content/lib/modal-video/js/modal-video.js"></script>*@
    <script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Scripts/nprogress.js"></script>
    <script src="~/Scripts/js.cookie.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>